# alias code="code-insiders"
alias zshrc="code ~/.dotfiles"
alias vzshrc="code ~/.dotfiles"
alias rl="source ~/.zshrc"
alias gs="git diff --shortstat"
alias git="hub"
alias lst="tar tvf"
alias lstgz="tar ztvf"
alias lstbz="tar jtvf"
alias more="less"
alias l="ls -AF"
alias c="clear"
alias ccat="highlight -O ansi"

hlc () { pbpaste | highlight --font-size 24 --font 'Fira Code' --style moria -O rtf "$@" | pbcopy }
hlcjs () { hlc --syntax=jsx "$@" }
hlf () { highlight --font-size 24 --font 'Fira Code' --style moria -O rtf "$@" | pbcopy }

nukedocker () {
  docker stop `docker ps -a -q`;
  docker rm --force `docker ps -a -q`;
  docker rmi --force `docker images -q`;
  docker volume rm --force `docker volume ls -qf dangling=true`;
}
