# alias code="code-insiders"
alias zshrc="code ~/.dotfiles"
alias vzshrc="code ~/.dotfiles"
alias rl="exec zsh"
alias gs="git diff --shortstat"
alias git="hub"
alias lst="tar tvf"
alias lstgz="tar ztvf"
alias lstbz="tar jtvf"
alias more="less"
alias c="clear"
alias ccat="highlight -O ansi"
alias cat="bat"
alias grep="rg"

alias ls='lsd'
alias l='ls -l'
alias la='ls -a'
alias lla='ls -la'
alias lt='ls --tree'

hlc () { pbpaste | highlight --font-size 24 --font 'Fira Code' --style moria -O rtf "$@" | pbcopy }
hlcjs () { hlc --syntax=jsx "$@" }
hlf () { highlight --font-size 24 --font 'Fira Code' --style moria -O rtf "$@" | pbcopy }

gch() { git checkout "$(git branch — all | fzf| tr -d '[:space:]')" }

tsup() { sudo tailscale up --auth-key $TS_AUTH_KEY --advertise-exit-node --ssh --accept-dns=false }

nukedocker () {
  docker stop `docker ps -a -q`;
  docker rm --force `docker ps -a -q`;
  docker rmi --force `docker images -q`;
  docker volume rm --force `docker volume ls -qf dangling=true`;
}
